.h3{
    padding-left: 46%;
    margin-bottom: 10vh;
}

.descricao{
    margin-right: 60%;
    margin-left: 1%;
}


.wraper{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.container{
    margin-right: 60%;
    position:relative;
    left: 75%;
    transform: translate(-50%, -47.8%);
}

.video{
    margin-top: 5%;
    margin-bottom: 3%;
    position: relative;
    left: 25%;
    border-radius: 5%;
    width: 50%;
    /* testar com clamp */
}