.hidraulica{
    margin-top: 4%;
    background-image: url("/hidraulica_4 1.svg");
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    height: 50vh;
}

.hidraulica h2{
    font-size: clamp(40px, 5vw, 50px);
    text-transform: uppercase;
    color: #ffffff;
    margin-left: clamp(1%, 9vw, 80%);
    padding-top: 3%;
}