@media (max-width: 600px){

    .IconeUsuario{
       width: 40px !important;
       margin-top: -2%;
       margin-left: 93%;
       height: auto !important;
    }

    .areaBranca{
        display: none;
    }

    .pIconeUsuario{
        margin-left: 93%;
        color: black !important;
        background-color: aliceblue;
    }

}